.upArrow {
  position: fixed;
  left: 2rem;
  top: 88%;
  opacity: 1;
  cursor: pointer;
  font-size: 40px;
}

.scrollLink {
  color: red;
  background-color: white;
  display: block;
  height: 40px;
  border-radius: 50%;
}

