.arrowLeft 
  .arrowLeft.animate__delay-10s.animate__animated.animate__pulse.animate__slow.animate__infinite(title="Voltar")
    a(href="./blog.html")
      img(src=require("../../../images/icons/arrow-left.png"), alt="Voltar")