@import "variables";

//roboto

@font-face {
  $font-name: "RobotoCondensed-Bold";
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  src: url(#{$font-path}/#{$font-name}.ttf);
}

@font-face {
  $font-name: "RobotoCondensed-Regular";
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  src: url(#{$font-path}/#{$font-name}.ttf);
}
