//import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//font-family: 'Roboto', sans-serif;

//variables

//colors static
$colorBlack: rgb(0, 0, 0);
$colorWhite: rgb(255, 255, 255);
$colorRed: rgb(232, 5, 5);

$colorLightGrey: #5b5b5b;
$colorDarkRed: #ce4809;
$colorGrey: #808080;
$colorGreyTransp: rgba(128, 128, 128, 0.61);
$colorDarkRed05: rgba(206, 71, 9, 0.05);
$colorViolet087: rgba(82, 32, 110, 0.87);

//colors dynamic

$colorPrimary: $colorLightGrey;
$colorSecondary: $colorBlack;
$colorTertiary: $colorRed;
$colorWhiteShadow: $colorWhite;

// fonts

$font-family-roboto: 'Roboto', sans-serif;
