@import "../../styles/variables";

.authModal {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.756);

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    max-width: 900px;
    background-color: $colorPrimary;
    border: 1px solid $colorTertiary;
    transform: scale(0.5);
    transition: transform 0.5s;
  }

  &__btn {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__row {
    margin: 80px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    border: 1px solid red;
    flex: 0 1 48%;
    text-align: center;
  }
}



.authModal.show {
  opacity: 1;
  transition: 0.1s;
  pointer-events: all;

  // &__content.show {
    
  // }
}

.authModal.show .authModal__content.show {
    transform: scale(1);
    transition: transform 5s;
}

@media (max-width:600px) {
  .authModal {
    &__item {
      flex: 0 1 100%;
      margin: 0 0 20px;
    }
  }
}