@import "../../styles/variables";

.authModal {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.756);

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    padding: 0px 0 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 900px;
    background-color: $colorPrimary;
    border: 1px solid $colorTertiary;
    transform: translateY(-50%) scale(1);
    transition: transform 0.5s;
  }

  &__btn {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__btn:hover {
    box-shadow: 0 0 3px $colorBlack;
  }

  &__row {
    margin: 35px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 1 48%;
    text-align: center;
  }

  .form {
    &__input {
      margin: 0 0 15px;

      input {
        width: 230px;
        font-size: 16px;
        padding: 2px 5px;
        border-radius: 3px;
        border: 1px solid $colorBlack;
      }

      input:focus {
        outline: 1px solid $colorBlack;
        box-shadow: 0 0 6px $colorBlack;
      }

      input:focus::placeholder {
        color: transparent;
      }
    }
    &__btn:hover {
      box-shadow: 0 0 3px $colorBlack;
    }
  }

  .login  {
    &__reset {
       margin-top: 20px;
    }  
  }
}

.authModal.show {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 600px) {
  .authModal {
    &__item {
      flex: 0 1 100%;
      margin: 0 0 20px;
    }
  }
}
