.langToggle 
  .langToggle__row 
    .langToggle__item#pt 
      button.langToggle__btn Pt
    .langToggle__item#es 
      button.langToggle__btn Es
    .langToggle__item#en 
      button.langToggle__btn.active En