@import "../../styles/variables";

.header {
  background-color: $colorSecondary;
  // position: fixed;
  // position: static;
  width: 100%;
  text-align: center;
  // z-index: 10;
  border-bottom: 1px solid white;
  box-shadow: 0 1px 4px white;;
  

  &__row {
    display: flex;
    height: 90px;
    padding: 0 10px;
    justify-content: space-between;

  }

  &__logo {
    display: block;
  }
  
  img.logo {
    height: 100%;
    padding: 5px 0px;
  }

  &__auth { 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    p {
      margin: 7px 0;
    }

    // button {
    //   margin: 0 auto;
    //   font-size: 20px;
    //   line-height: 20px;
    //   padding: 3px 4px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    // }  
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
  }
}

// .header::after {
//   content: "";
//   width: 100%;
//   display: block;
//   background-color: green;
//   height: 15px;
// }

@media (max-width: 950px) {
  .header {
    &__row {
      height: 80px;
      padding: 0;
    }

    &__title {
      h1 {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    &__row {
      // justify-content: space-around;
    }

    &__title {
      h1 {
        // padding-top: 15px;
        font-size: 22px;
      }
    }

    &__auth { 

      p {
        margin: 7px 0;
        font-size: 12px;
      }

      button {
        transform: scale(0.8);
      }
    }
  }
}